@{
    Layout = "_AdminLayout";
}

<h3>Работа с сущностями</h3>
<h5>Добавление и редактирование книг</h5>
<ul>
    <li><a asp-controller="Admin" asp-action="Book">Книги</a></li>
    <li><a asp-controller="Admin" asp-action="Author">Авторы</a></li>
    <li><a asp-controller="Admin" asp-action="Jenre">Жанры</a></li>
</ul>
<h5>Просмотр пользователей и назначение ролей</h5>
<ul>
    <li><a asp-controller="Admin" asp-action="User">Пользователи</a></li>
    <li><a asp-controller="Admin" asp-action="Role">Роли</a></li>
</ul>
